.home-slideshow-wrapper {
  h1.caption {
    z-index: 2;
    white-space: nowrap;
    transition: all 0s ease 0s;
    position: absolute;
    font-size: 3vw;
    left: 22vw;
    top: 8vw;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    font-family: 'Open Sans', sans;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }

  h3.caption {
    z-index: 3;
    white-space: nowrap;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    letter-spacing: -2px;
    font-size: 2vw;
    left: 23vw;
    top: 15vw;
    visibility: visible;
    opacity: 1;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    font-weight: 300;
    font-family: Arial;
    color: white;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 5px;
    position: absolute;
  }
}