.project-gallery-photos {
  .portfolioFilter button {
    margin-right: 4px;
    color: #3d3d48;
    background-color: #f3f3f3;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    &.current {
      color: #fff;
      background-color: #859e40;
    }
  }
  img {
    transition: transform .2s;
  }
  img:hover {
    transform: scale(1.1);
  }
}